<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" name="uname" v-model="uname" @keyup.delete="clearContent">
        <input type="text" name="pwd" v-model="info" @keyup.enter="enterLogin">
    </div>

    <script src="./js/vue.js"></script>
    <script>
    var vm = new Vue({
        el:'#app',
        data:{
            uname:'',
            info:''
        },
        methods:{
            clearContent:function(){
                this.uname = ''
            },
            enterLogin:function(){
                console.log(this.info)
            }
        }
    })
    </script>
</body>
</html>