<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>简单计算器</h1>
        <div>
            <span>数值A:</span>
            <span>
                <input type="text" v-model="num1">
            </span>
        </div>
        <div>
            <span>数值B:</span>
            <span>
                <input type="text" v-model="num2">
            </span>
        </div>
        <div>
            <button @click="calculate">计算</button>
        </div>
        <div>
            <span>计算结果:</span>
            <span v-text="result"></span>
        </div>
    </div>

    <script src="./js/vue.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                num1: '',
                num2: '',
                result: ''
            },
            methods: {
                calculate: function () {
                    this.result = parseFloat(this.num1) + parseFloat(this.num2)
                }
            }
        })
    </script>
</body>

</html>